

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: $font-main;
    width: 100%;
    margin:0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}