
.btn { 
    display: inline-block; 
    padding: 15px 30px;
    border-radius: 999px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

    &--primary {
    background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);

    }
}