/* Header*/
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
    background-color: white;
    padding-top: 1rem;

&__logo {
    height: 35px;
    margin-bottom: 0.5rem;
}
}

.location {
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
    width: 100%;
    padding: 1rem 0;
    box-shadow: inset 0 3px 3px rgba(0,0,0,0.1);

    &__text {
        font-weight: 500;
        font-size: 1.1rem;
        color: $text-main;
    }



i {
    font-size: 1.1rem;
}
}

/* Hero*/
.hero {
    text-align: center;
    padding: 4rem 1.5rem 5rem;
    background-color: $background-light;

&__title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

&__subtitle {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2rem;
    color:$text-muted;
}
}


/* Fonctionnement (Steps)*/
.steps {
    padding: 2rem 1rem;
    background-color: white;


.section-title {
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

&__cards {
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    padding-left: 0.75rem;
}

&__card {
    display: flex;
    align-items: center;
    background-color: $background-light;
    padding: 1.8rem;
    border-radius: 1.25rem;
    position: relative;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    gap: 1.5rem;
    

.step-number {
    position: absolute;
    left: -12px; /* position à l'exterieur de la carte*/
    background: $primary-color;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.step-icon {
    color: #7e7e7e;
    font-size: 1.2rem; /*taille icone*/
}

p {
    font-weight: 500;
}
}
}


/* Restaurants*/

.restaurants {
    padding: 2rem 1rem;
    background-color: $background-light;

    .section-title {
        margin-bottom: 1.5rem;
    }
    .restaurants-cards {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

/*CARTE INDIVIDUELLE*/

.restaurants {
    padding: 2rem 1rem;
    background-color: $background-light;

    .section-title {
        margin-bottom: 1.5rem;
    }

    .restaurants-cards {
        display: flex;
        flex-direction: column;
        gap:1.5rem;
    }
}
.restaurant-card {
    background-color: white;
    border-radius: 1rem;
    position: relative;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    display: block;
    width: 100%;

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

    img {
        width: 100%;
        height: 175px;
        object-fit: cover;
    }


.badge-new {
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    background-color: $tertiary-color;
    color: darken($tertiary-color, 40%);
    padding: 0.4rem 0.8rem;
    border-radius: 2px;
    font-weight: 500;
    font-size: 0.9rem;
}

.card-footer {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;

    .card-text {
        h3 {
            margin-bottom: 0.2rem;
        }
    
        p{
            font-weight: 300;
            margin:0;
        }
    }

    .card_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;

        i{
            font-size: 1.4rem;
            color: black;
            cursor: pointer;
            font-weight: 400;
        }
    }
}
}


/* Footer*/
.footer {
    background-color: $background-dark;
    padding: 1.5rem;
    color: white;

&__logo {
    width: 100px;
    margin-bottom: 1rem;
    filter: invert(100%);
    display: block;
}

&__list {
    list-style: none;
    padding: 0;
    margin:0;

    li{
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        gap:10px;
        font-size:0.9rem;


            i {
                font-size: 0.8rem;
                width: 15px;
            }
        }
    }
}
