.loader {
    position:fixed;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    background-color: rgba(255,255,255,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;

    animation: fadeout 1s forwards;
    animation-delay: 2s;

    &__spinner {
        width: 50px;
        height: 50px;
        border: 5px solid $tertiary-color;
        border-top: 5px solid $primary-color;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeout {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            visibility: hidden;
        }
    }
