
/*COULEURS PRINCIPALES*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

/*COULEURS DE FOND*/
$background-light: #F6F6F6;
$background-dark: #353535;

/*COULEURS DE TEXTE*/
$text-main: #000000;
$text-muted: #4A4A4A;

/*POLICES*/
$font-main: 'Roboto', sans-serif;
$font-logo: 'Shrikhand', cursive;